<div class="h-screen w-6/12 mx-auto flex items-center justify-center">
  <div class="w-6/12 h-auto">
    <h1 class="text-5xl mb-4">Edit Subcomponent</h1>
    <%= form_with(model: @cycle, local: true, method: 'patch', url: update_subcomponent_path) do |form| %>
      <div class="field">
        <%= form.text_field "cycle['components'][#{@index}]['name']", class: "p-16 bg-white focus:outline-none focus:shadow-outline border border-gray-500 rounded-md py-2 px-2 block appearance-none leading-normal w-full", autofocus: true, value: @cycle["components"][@index]["name"] %>
      </div>

      <div class="actions">
        <%= form.submit 'Create subcomponent',  class: 'rounded bg-indigo-900 hover:bg-blue-700 py-2 px-4 text-white' %>
      </div>
    <% end %>

    <%= link_to 'Back', cycles_path %>
  </div>
</div>