<div class="h-screen w-6/12 mx-auto flex items-center justify-center">
  <div class="w-6/12 h-auto">
    <h1 class="text-5xl mb-4">New Cycle</h1>

    <%= render 'form', cycle: @cycle %>

  </div>
</div>
  
