<nav class="fixed left-0 top-0 z-10 w-screen bg-gray-900 lg:px-40 sm:px-10 px-2 sm:flex justify-between items-center border-b-1 border-gray-600">
  <div class="flex px-4 justify-between sm:py-0 pb-1">
    <a href="/" class="text-white text-xl">
      Cycles
    </a>
  
    <button class='text-blue-300 text-3xl sm:hidden block focus:outline-none' id='navIcon'>
      &#9776;
    </button>
  </div>
  
  <ul class='hidden sm:flex cursor-pointer' id='navContent'>
    <li class='py-4 px-6 sm:border-b-2 border-transparent hover:border-blue-300 sm:hover:text-blue-300 transition hover:bg-gray-800 duration-200 sm:hover:bg-transparent text-white text-lg'><a href="/cycles/new">Add a cycle</a></li>
    <li class='py-4 px-6 sm:border-b-2 border-transparent hover:border-blue-300 sm:hover:text-blue-300 transition hover:bg-gray-800 duration-200 sm:hover:bg-transparent text-white text-lg'><a href="/cycles">All cycles</a></li>
  </ul>
</nav>
