// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header{
  background: url('https://images.theconversation.com/files/354902/original/file-20200826-7069-1mp7gk0.jpg?ixlib=rb-1.1.0&rect=5%2C80%2C3589%2C1794&q=45&auto=format&w=1356&h=668&fit=crop'), rgba(0, 0, 0, 0.418);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}